@page
@model QuoteAchievements.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align: center; margin-top: 40vh;">
    <h2>@Model.Quotes.Text</h2>
    <p>@Model.Quotes.Author</p>
</div>